{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">About Us</h1>
  <p class="lead">Prettyboy&Co. is a streetwear based brand involved in shoes and clothing. Founded by Matts Benson and Jaffer Ali.</p>
  <hr class="my-4">
  <p>Our tag line is "Your Plug's Plug" meaning we supply everyone you know with their streetwear needs.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<img src='https://cdn.shopify.com/s/files/1/1331/1445/files/FullSizeRender_jpg_large.jpeg?v=1485810188'>
<br>
<img src='https://cdn.shopify.com/s/files/1/1331/1445/files/unnamed-1_b846ae37-bda7-4350-9b0a-eb73ec48c204_large.jpg?v=1490143861'>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">PrettyBoy&Co</h5>
        <p>Best Brand Out There. No Cap</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Follow Us!</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.instagram.com/prettyboyandco/">Instagram</a>
          </li>
          <li>
            <a href="https://twitter.com/PrettyboyandCo">Twitter</a>
          </li>
          <li>
            <a href="https://www.facebook.com/prettyboyandco/">Facebook</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://prettyboyandco.com/"> PrettyBoy&Co.com</a>
  </div>
</footer>
{% endblock %}
