{% extends 'base.html' %}

{% block content %}

<!-- CARDS -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="//placehold.it/500x200" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="//placehold.it/500x220" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="//placehold.it/500x180" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="//placehold.it/500x220" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="//placehold.it/500x220" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="//placehold.it/500x220" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="//placehold.it/500x220" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title another</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="//placehold.it/500x220" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
